{% extends "layouts/base.html" %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
        <div class="row py-4">
            <div class="col-12">
            <h6 class="h2 text-white d-inline-block mb-0">Rules Absensi</h6>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="card">
        <div class="card-body">
            <h2>Manajemen Rules Absensi</h2>
            <div class="mb-3">
                <a href="{% url 'create_rule' %}" class="btn btn-primary">+ Tambah Aturan</a>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nama Aturan</th>
                            <th>Jam Masuk</th>
                            <th>Jam Keluar</th>
                            <th>Toleransi Telat</th>
                            <th>Maksimal Izin</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rule in rules %}
                        <tr>
                            <td data-label="Nama Aturan">{{ rule.nama_rule }}</td>
                            <td data-label="Jam Masuk">{{ rule.jam_masuk }}</td>
                            <td data-label="Jam Keluar">{{ rule.jam_keluar }}</td>
                            <td data-label="Toleransi Telat">{{ rule.toleransi_telat }} menit</td>
                            <td data-label="Maksimal Izin">{{ rule.maksimal_izin }} kali</td>
                            <td data-label="Aksi">
                                <a href="{% url 'update_rule' rule.id_rules %}" class="btn btn-warning btn-sm mb-1">Edit</a>
                                <a href="{% url 'delete_rule' rule.id_rules %}" class="btn btn-danger btn-sm" onclick="return confirm('Yakin ingin menghapus?')">Hapus</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'includes/pagination.html' with page_obj=rules %}
        </div>
    </div>
</div>
{% endblock %}
