{% load static %}
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header align-items-center">
      <a class="navbar-brand">
        <img src="{% static 'assets/img/brand/cesgs-logo.png' %}" class="navbar-brand-img" alt="SmartHR CESGS Logo">
      </a>
    </div>
    <div class="navbar-inner">
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <ul class="navbar-nav">

          <!-- Loop dari context processor -->
          {% for item in sidebar_menu %}
          {% if item.submenu %}
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#submenu-{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="submenu-{{ forloop.counter }}">
                <i class="{{ item.icon }}"></i>
                <span class="nav-link-text">{{ item.name }}</span>
              </a>
              <div class="collapse" id="submenu-{{ forloop.counter }}">
                <div class="ml-4">
                  {% for sub in item.submenu %}
                    <a href="{{ sub.url }}"
                       class="nav-link text-sm py-1 {% if request.path == sub.url %}active-submenu{% endif %}">
                      {{ sub.name }}
                    </a>
                  {% endfor %}
                </div>
              </div>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url }}">
                <i class="{{ item.icon }}"></i>
                <span class="nav-link-text">{{ item.name }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li> 

        </ul>
      </div>
    </div>
  </div>
</nav>
